python 包：
django==2.2
mysqlclient
django-simple-captcha
redis == 3.3.11
django-mdeditor==0.1.16 # 用于后台添加内容 https://segmentfault.com/a/1190000013671248
markdown==3.1.1 # 用于前端显示
Pygments ==2.5.2

#####################
后台应用：
redis == 5.0.5 # https://redis.io/
