/*body样式*/
body{
    width:100%;
    height:100%;
    background:#FFFFFF;
}

/*中间图片和登陆框的box*/
.middle-box{
    width:100%;
    margin:10px 0px auto 60px;
}

/*白色背景*/
.white-backgroud{
    background: #FFFFFF;
}

/*顶部box*/
.top-box{
    width:100%;
    min-width: 1190px;
    overflow:hidden;
}

/*导航栏box*/
.navigator-box{
    width:1024px;
    height:30px;
    line-height:38px;
    margin:10px auto;
    font-size:16px;
    color:#666;
}

/*导航栏内容*/
.navigator-bar > li{
    float:left;
    padding:0 26px;
    border-right:1px solid #eaeaea;
}

.navigator-bar > li > a{
    color:#666;
}

/*分割线*/
.split-line{
    margin:10px auto;
    height:1px;
    border:none;
    border-top:1px solid #0073bb;
}

/*tigermap图片*/
img {
    border:0;
    margin:50px auto;
    padding:0;
    max-width:800px;
    width:expression(this.width>800?"800px":this.width);
    max-height:800px;
    height:expression(this.height>800?"800px":this.height);
}

/*账号登陆／动态登陆*/
.form-box{
    margin: 40px auto;
    position:relative;
    width:290px;
    height: 430px;
    padding:0 40px;
    background:#fff;
    color:#666;
}
.form-box > h2,
.form-box > .tab{
    height:54px;
    line-height:54px;
    margin-bottom:34px;
    font-size:18px;
    font-weight:normal;
    color:#333;
    border-bottom:1px solid #eaeaea;
}
.form-box > .tab > h2{
    float:left;
    width:90px;
    height:53px;
    line-height:53px;
    cursor: pointer;
    font-weight:normal;
    text-align:center;
}
.form-box > .tab > h2.active{
     border-bottom:3px solid #0073bb;
    color:#333;
}

/*登陆输入框*/
.form-group{
    position:relative;
    width:288px;
    height:38px;
    border:1px solid #dedede;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow:hidden;
}

.form-group > input{
    float:left;
    line-height:24px;
    padding:7px 10px;
    border:0;
    line-height:normal\9;
    padding:12px 10px 9px\9;
}

/*间隔设置*/
.marb20{
    margin-bottom:20px;
}
.marb8{
    margin-bottom:8px;
}
.marb38{
    margin-bottom:38px;
}

/*登陆错误报错*/
.error{
    background: #fb8344;
    color:#fff !important;
    text-align: center;
    line-height: 20px !important;
    margin:10px 0;
}

.auto-box{
    height:18px;
    line-height:18px;
}
.auto-box > label > input{
    vertical-align: sub;
}
.auto-box > label > a{
    color:#717171;
}

/*立即注册按钮*/
.btn{
    width:100%;
    height:42px;
    line-height:42px;
    font-size:14px;
    color:#fff;
    border:0;
    cursor:pointer;
}
.btn-green{
    background:#0073bb;
}
.btn-green:hover{
    background:#0073bb;
}

.form-p{
    position:absolute;
    left:40px;
    bottom:70px;
}
/*立即注册颜色*/
.form-p > a{
    color:#00A000;
}

.verify-code{
    float:left;
    width:180px;;
}
.verify-code > input{
    width:150px;
}

.test-btn{
    float:left;
    width: 80%;

}


/*发送验证码按钮*/
.verify-code-btn{
    float:left;
    width:103px;
    margin-left:3px;
    height:38px;
    line-height:38px;
    border:1px solid #dedede;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background:#f5f5f5;
    color:#666;
    text-align: center;
    cursor: pointer;
}



/*.form-group .captcha{*/
/*    cursor: pointer;*/
/*    float: right;*/
/*}*/

/*高亮输入框*/
.form-box .form-group.focus,
.form-box .valcode.error {
    border-color: #0073bb;
    box-shadow: 0 0 5px #0073bb;
}
.form-box .form-group.blur,
.form-box  .valcode.blur,
.form-box  .captcha-input.blur {
    border-color: #ccc;
}
.form-box .form-group.errorput,
.form-box .valcode.errorput input {
    border-color: #f00;
    box-shadow: 0 0 5px #aa0b0b;
}

/*登陆模块box*/
.form-box{
    position:relative;
    width:290px;
    height: 472px;
    padding:0 40px;
    background:#fff;
    color:#666;
}
.form-box > h2,
.form-box > .tab{
    height:54px;
    line-height:54px;
    margin-bottom:34px;
    font-size:18px;
    font-weight:normal;
    color:#333;
    border-bottom:1px solid #eaeaea;
}
.form-box > .tab > h2{
    float:left;
    width:90px;
    height:53px;
    line-height:53px;
    cursor: pointer;
    font-weight:normal;
    text-align:center;
}
.form-box > .tab > h2.active{
     border-bottom:3px solid #0073bb;
    color:#333;
}

/*验证码*/
#id_captcha_1 {
    width: 178px;
}

#form1 input{
    width:270px;
}
#form2 input{
    width:170px;
}

.captcha1 > input{
     width:80px;
}

.captcha1 > img{
    float:right;
    margin-top:5px;
}

.form-group .mobile-register-captcha{
    width:180px;
}
.form-group .captcha{
    cursor: pointer;
    float: right;
}

.captcha-input > input {
    position:relative;
    width:160px;
    height:38px;
    border:1px solid #dedede;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow:hidden;
}


.captcha-input > img {
    float:right;
    margin-top:0px;
}

/*.captcha-input.focus {*/
/*    !*border-color: #0073bb;*!*/
/*    width:100px;*/
/*    height:38px;*/
/*    box-shadow: 0 0 10px #0073bb;*/

